using System.ComponentModel;

namespace XKube.ViewModels;

public class {{Model}}ViewModel
{
    {{#Fields}}
    [DisplayName("{{Title}}")]
    public string {{AsPropertyName Title}} { get; set; } = string.Empty;
    {{/Fields}}
}