{{#each this}}
        {{#if IsNamespaced}}
         await ctx.RegisterTable(tables, "{{AsCommandName Title}}",
            async() => (await kubernetesClientServices.{{ListMethod}}(ns)).Value.ToViewModel());
        {{else}}
         await ctx.RegisterTable(tables, "{{AsCommandName Title}}",
            async() => (await kubernetesClientServices.{{ListMethod}}()).Value.ToViewModel());
        {{/if}}
{{/each}}